@{
    ViewBag.Title = "ValaisBooking";
}

<div class="row">
    <div class="col-md-12">
        <br>
        <div class="jumbotron text-center">
            <h1 style="color:darkred">ValaisBooking</h1>
            <p>ValaisBooking is a new booking platform to propose rooms from hotels in Martigny, Sion and Brig </p>
        </div>


        
                 <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 style="color:darkred">Martigny</h3>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3 style="color:darkred">Sion</h3>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3 style="color:darkred">Brig</h3>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div >
                            <a >
                                <img src="http://new.hotelvatelconnect.com/files/1448890401_vatel_Single4.jpg" alt="Lights" style="width:100%">
                                 <p><b>Octodure</b></p> 
                                
                            </a>
                            <a >
                                <img src="http://www.hoteldesvignes.ch/hoteldesvignes-media/img/_DAN2102.JPG" alt="Lights" style="width:100%">
                                <p> <b>Constantin Palace</b> </p>
                            </a>  
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div >
                            <a >
                                <img src="http://www.hoteldesvignes.ch/hoteldesvignes-media/img/10-chambre.jpg" alt="Lights" style="width:100%">
                                <p> <b>Valais Palace</b> </p>
                                
                            </a>
                            <a >
                                <img src="https://images.seekda.net/CH_VS_0559/slice-1000-565-hotel_europe_brig_einzelzimmer_2.jpg" alt="Lights" style="width:100%">
                                <p> <b>Grand Duc</b> </p>
                                
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div >
                            <a >
                                <img src="https://images.seekda.net/CH_VS_0559/slice-1000-565-hotel_europe_brig_einzelzimmer2.jpg" alt="Valais Palace" style="width:100%">
                                <p> <b>Walliser Palace</b> </p>
                                
                            </a>
                            <a >
                                <img src="http://www.ambassador-brig.ch/wp-content/uploads/2017/04/Hotel-Ambassador_Doppelzimmer_deluxe_2.jpg" alt="200x200" style="width:100%">
                                <p> <b>Matterhorn</b> </p>
                               
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>

